/*! SassBase | MIT | @edsloandev */
html, body, ul, ol, li, form, a {
  margin: 0;
  padding: 0;
  background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

img {
  border: 0;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  vertical-align: top;
}

input, textarea, select {
  font-size: 110%;
  line-height: 1.1;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: verdana, sans-serif;
  color: #111111;
  font-size: 12px;
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
