/*! sassbase | MIT | @edsloandev */
@font-face {
  font-family: "font-1";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/font-1.eot");
  src: url("../fonts/font-1.eot?") format("eot"), url("../fonts/font-1.woff") format("woff"), url("../fonts/font-1.ttf") format("truetype");
}
@font-face {
  font-family: "font-2";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/font-2.eot");
  src: url("../fonts/font-2.eot?") format("eot"), url("../fonts/font-2.woff") format("woff"), url("../fonts/font-2.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: "font-1", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
