//
//_buttons.scss - Button declarations.
//

button {

	&:hover {
		
	}
}
.button {
	display: inline-block;
	padding: $button-padding;
	text-align: center;
	border-radius: $border-radius;
	border: 1px solid transparent;
	&--dark {
		color: $main-color;
		background: $alt-color;
		border-color: darken($alt-color, 20%);
	}
	&--light {
		color: $alt-color;
		background: $main-color;
		border-color: darken($main-color, 20%);
	}
}