//
//_theme.scss - Theme/color declarations.
//

//fonts
//requires the font name to be the same as the file name(s)
@each $font-face in 'font-1', 'font-2'  {
    @font-face {
      	font-family: $font-face; font-style: normal; font-weight: normal;
      	src: url('../fonts/#{$font-face}.eot');
      	src: url('../fonts/#{$font-face}.eot?') format('eot'),
           	 url('../fonts/#{$font-face}.woff') format('woff'),
           	 url('../fonts/#{$font-face}.ttf') format('truetype');
    }
}

//colors
$main-color: #000;
$light-color: #ccc;

//breakpoints - populated in _breakpoints.scss
$large-breakpoint: "(max-width: 1024px)";
$small-breakpoint: "(max-width: 767px)";