//
//_theme.scss - Theme declarations.
//this should not output any css.
//

//palette
$main-color: #111;
$alt-color: #ccc;

$main-bg-color: #eee;

//fonts
$main-font-family: 'open-sans', arial, sans-serif;
$main-font-color: $main-color;
$main-font-size: 12px;

$alt-font-family: verdana, sans-serif;
$alt-font-color: $alt-color;
$alt-font-size: 14px;

//layout
$border-radius: 5px;
$section-spacing: 2%;

//buttons
$btn-top-padding: 6px;
$btn-side-padding: 12px;
$btn-border-size: 2px;

//breakpoints - populated in _breakpoints.scss
$large-breakpoint: "(max-width: 1024px)";
$small-breakpoint: "(max-width: 767px)";

//external fonts (commented out until needed)
//requires the font name to be the same as the file name(s)
//works with @include font(open-sans-webfont); (found in _mixins.scss)
@each $font-face in 'open-sans' {
    @font-face {
      	font-family: $font-face; font-style: normal; font-weight: normal;
//       	src: url('../fonts/#{$font-face}.eot');
//       	src: url('../fonts/#{$font-face}.eot?') format('eot');
//          src: url('../fonts/#{$font-face}.ttf') format('truetype');
//          src: url('../fonts/#{$font-face}.svg') format('svg');
           	src: url('../fonts/#{$font-face}.woff') format('woff');

    }
}